/*doc css*/

.carousel-inner{
  width: 45%;
  height: 18em;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 80%;
}

.carousel-control-next{
  width: 80%;
}

.carousel-control-prev{
  width: 60%;
}
label {
  margin-top: 2em;
}

.container {
  border-style: solid;
  border-width:thick;
  border-left-color: #7AA55E;
  border-top-color: #7AA55E;
  border-right-color: #AAC9A0;
  border-bottom-color: #AAC9A0;
  margin-bottom: 3em;
  background-color: #FBFCB5;
  margin-top: 2em;
  width:70%;
}
