/*
Programmation Web II - TP1
Projet : Voiture @Variée
Hiver 2019
Auteur: Sylvie Allain & Cyrice Paradis
*/


.carousel-inner{
  width: 40%;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
}

.imgCarousel{
  max-width: 80%;
}

.carousel-control-next{
  width: 5%;
  background-color: rgba(56, 79, 52,0.5);
  margin-right: 25%;
}

.carousel-control-prev{
  width: 5%;
  background-color: rgba(56, 79, 52,0.5);
  margin-left: 25%;
}

label {
  margin-top: 2em;
}

#containerAccueil {
  border-style: solid;
  border-width:thick;
  border-left-color: #7AA55E;
  border-top-color: #7AA55E;
  border-right-color: #AAC9A0;
  border-bottom-color: #AAC9A0;
  margin-bottom: 3em;
  background-color: #FBFCB5;
  margin-top: 2em;
  width:70%;
}

.rowAccueil{
  border-style:hidden;
  box-shadow: none;
}
