/*
Programmation Web II - TP1
Projet : Voiture @Variée
Hiver 2019
Auteur: Sylvie Allain & Cyrice Paradis
*/

#bannerContainer {
  background-color: #384F34;
  color : #F7E488;
  border: 1px solid black !important;
}

#rowBanner {
  border: #384F34;
  box-shadow: 3px 3px rgb(56, 79, 52);
}
