/*
Programmation Web II - TP1
Projet : Voiture @Variée
Hiver 2019
Auteur: Sylvie Allain & Cyrice Paradis
*/

#almostBody {
  background-color: #FBFCB5;
  width: 90%;
  margin-left: 5em;
  padding-bottom: 5em;
  border-style: solid;
  border-left-color: #7AA55E;
  border-top-color: #7AA55E;
  border-right-color: #AAC9A0;
  border-bottom-color: #AAC9A0;
  background-image: url("../images/lemonsDrop_transparent.png");
}

#thirdTitle {
  font-size: 20px;
  text-align: center;
  margin-top : 2em;
}

#secondTitle {
  text-align: center;
  font-family:"courier new";
  font-weight: bold;
  font-size: 36px;
}

#firstTitle {
  text-align:center;
  font-family:"courier new";
  font-weight: bold;
  font-size: 64px;
  margin-top : 0.5em;
}

.carDescriptionTitle{
  font-weight: bold;
  margin-bottom: -0.5em;
  margin-top:1em;
}

.carPicture{
  margin-top:1em;
}
