/*
Programmation Web II - TP1
Projet : Voiture @Variée
Hiver 2019
Auteur: Sylvie Allain & Cyrice Paradis
*/

#almostBody {
  background-color: #FBFCB5;
  width: 90%;
  margin-left: 5em;
  padding-bottom: 5em;
  border-style: solid;
  border-left-color: #7AA55E;
  border-top-color: #7AA55E;
  border-right-color: #AAC9A0;
  border-bottom-color: #AAC9A0;
  background-image: url("../images/lemonsDrop_transparent.png");
}


.row {
  margin-bottom: 1em;
  border: 0.2em solid black;
  padding : .5em;
  border-left-color: #7AA55E;
  border-top-color: #7AA55E;
  border-right-color: #AAC9A0;
  border-bottom-color: #AAC9A0;
  box-shadow: 3px 3px rgba(236, 203, 48,0.3);
}

#thirdTitle {
  font-size: 20px;
  text-align: center;
  margin-top : 2em;
}

#secondTitle {
  text-align: center;
  font-family:"courier new";
  font-weight: bold;
  font-size: 36px;
}

#firstTitle {
  text-align:center;
  font-family:"courier new";
  font-weight: bold;
  font-size: 64px;
  margin-top : 0.5em;
}
